<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>バックエンド</h1>
    <h2>memo</h2>
    <p>frontend</p>
    <ul>
        <li>ローカルサーバーの起動 : npm start</li>
        <li>パッケージのインストール: npm install</li>
        <li></li>
    </ul>

    <p>backend</p>
    <ul>
        <li>ローカルサーバーの起動 : python manage.py runserver</li>
        <li>管理者画面 : /admin</li>
        <li>back_apiディレクトリ : frontendへのapiツール</li>
    </ul>
</body>
</html>